---
import Layout from "./Layout.astro";
import Card from "../components/Card.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="max-w-xs mx-auto flex flex-col gap-6 md:max-w-2xl">
    <Card
      url={frontmatter.url}
      tag={frontmatter.tag}
      title={frontmatter.title}
      descripcion={frontmatter.descripcion}
      data={frontmatter.data}
      color={frontmatter.color}
    />
    <slot />
  </div>
</Layout>

<style is:inline>
  h1 {
    color: #fafafa;
    font-size: 3em;
    font-weight: 700;
    line-height: 3.5rem;
    text-align: center;
  }
  h2 {
    color: #00dc82;
    font-size: 1.25rem;
    font-weight: 600;
  }
  h3 {
    font-size: 18px;
    color: #ffdd1c;
  }
  strong {
    color: rgba(248, 113, 113, 1);
  }
  li {
    padding: 0 0 10px 0;
  }
  code {
    font-size: 18px;
    color: #ff6493;
  }
  pre {
    color: #f4f4f5;
    font-size: 0.2rem;
    font-weight: 500;
    background-color: #13151a !important;
    border-radius: 1.5rem;
    padding: 1.2rem;
    border: 1px solid;
    border-color: hsl(240deg 6% 90% / 10%);
  }
</style>
